In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("paris/anya/Paris_1_256.anya.stat")
data

    difficulty  expansions   runtime  way_length  suboptimal  max_tree_size
0            0           5  0.017914    1.000000    1.000000             13
1            1          13  0.016224    4.472136    0.926210             28
2            2          14  0.012964    8.246211    0.934052             30
3            3          23  0.044465   13.000000    1.000000             42
4            4          24  0.049423   18.439089    0.938049             59
..         ...         ...       ...         ...         ...            ...
95         102       32328  2.685527  384.144349    0.938897          32802
96         103        3482  0.307837  391.734680    0.946809           3813
97         104        3260  0.267674  396.688363    0.949439           3546
98         105       26262  2.216638  396.085844    0.942870          27009
99         106        4229  0.349272  405.328878    0.949282           4611

[100 rows x 6 columns]

In [7]:
data_theta = pd.read_csv("paris/theta/Paris_1_256.theta.euclidian.stat")
data_theta

    difficulty  expansions    runtime  way_length  suboptimal  max_tree_size
0            0           1   0.000097    1.000000    1.000000              9
1            1           4   0.000257    4.472136    0.926210             32
2            2           8   0.000590    8.246211    0.934052             60
3            3          13   0.001217   13.000000    1.000000            105
4            4          22   0.002524   18.439089    0.938049            138
..         ...         ...        ...         ...         ...            ...
95         102       43058  10.308817  384.423713    0.939580          44041
96         103        8448   2.022400  392.200479    0.947934          11190
97         104        6468   1.615855  396.752192    0.949592           8495
98         105       37510   8.796010  396.591562    0.944074          38643
99         106        9458   2.284463  405.359045    0.949352          12263

[100 rows x 6 columns]

In [8]:
data_2k = pd.read_csv("paris/astar_2k/Paris_1_256.astar_2k.euclidian.w=1_k=5.stat")
data_2k

    difficulty  expansions    runtime  way_length  suboptimal  max_tree_size
0            0           1   0.000160    1.000000    1.000000              1
1            1           2   0.000461    4.472136    0.926210             35
2            2           6   0.001800    8.324555    0.942926            165
3            3          13   0.003751   13.000000    1.000000            337
4            4          29   0.009065   18.649111    0.948733            730
..         ...         ...        ...         ...         ...            ...
95         102       43080  16.495509  385.570165    0.942382          56513
96         103        8155   2.918562  392.789664    0.949358          52574
97         104        6685   2.314286  397.966474    0.952498          41681
98         105       37487  14.778881  397.086803    0.945253          73405
99         106        9400   3.387100  406.429078    0.951858          56538

[100 rows x 6 columns]